<tmo-header></tmo-header>
<div class="wizard">
  <a href="#personalInformation"><span class="badge">1</span>Personal Information</a>
  <a href="#shippingInformation"><span class="badge" >2</span>Shipping & Billing Address </a>
  <a class="current"><span class="badge badge-inverse">3</span>Credit Information</a>
</div>

<div class="wrapper">
  <div class="content-area">
    <section class="page-section with-sidebar sub-page">
      <div class="container">
        <div class="row">
          <div class="col-md-9 content field-container" id="content" >
            <!--Start of form -->
            <form class="form-delivery" name="customerInfoForm" #customerInfoForm="ngForm" novalidate>
              <div class="row profile-alert-min">
                <div class="col-md-12">
                  <h3 class="block-title alt">Credit Information</h3>
                </div>
                <div class="col-md-6">
                  <select id="idType" name="idType"  class="form-control alt selectpicker" [(ngModel)]="creditInfo.idType"
                          #idType="ngModel" data-width="100%" title="Select" required>
                    <option value="">--Select Your ID Type*--</option>
                    <option *ngFor="let idType of idTypeList" [ngValue]="idType" >{{idType}}</option>
                  </select>
                  <div *ngIf="idType.errors && (idType.dirty || idType.touched)"
                       class="tmo-error">
                    <div [hidden]="!idType.errors.required">
                      ID Type required.
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="idNumber" name="idNumber" data-toggle="tooltip" class="form-control alt" type="text"
                           placeholder="ID Number(A1234567890):*" [(ngModel)]="creditInfo.idNumber" #idNumber="ngModel"
                           maxlength="20" required>
                    <div *ngIf="idNumber.errors && (idNumber.dirty || idNumber.touched)"
                         class="tmo-error">
                      <div [hidden]="!idNumber.errors.required">
                        ID number required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">
                    <div class="col-xs-4">
                      <input id="expMonth" name="expMonth" data-toggle="tooltip" class="form-control alt" type="text"
                             placeholder="MM*" [(ngModel)]="creditInfo.expMonth" #expMonth="ngModel"
                             maxlength="2" required>
                      <div *ngIf="expMonth.errors && (expMonth.dirty || expMonth.touched)"
                           class="tmo-error">
                        <div [hidden]="!expMonth.errors.required">
                          Enter Valid Month.
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-4">
                      <input id="expYear" name="expYear" data-toggle="tooltip" class="form-control alt" type="text"
                             placeholder="YY*" [(ngModel)]="creditInfo.expYear" #expYear="ngModel"
                             maxlength="2" required>
                      <div *ngIf="expYear.errors && (expYear.dirty || expYear.touched)"
                           class="tmo-error">
                        <div [hidden]="!expYear.errors.required">
                          Enter Valid Year.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <select id="creditState" name="creditState"  class="form-control alt selectpicker" [(ngModel)]="creditInfo.creditState"
                          #creditState="ngModel" data-width="100%" title="Select" required>
                    <option value="">--Select Your State*--</option>
                    <option *ngFor="let state of stateList" [ngValue]="state" >{{state}}</option>
                  </select>
                  <div *ngIf="creditState.errors && (creditState.dirty || creditState.touched)"
                       class="tmo-error">
                    <div [hidden]="!creditState.errors.required">
                      State required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="ssn" data-toggle="tooltip" [(ngModel)]="creditInfo.ssn" class="form-control alt" type="text" placeholder="SSN:(***-**-****)*"
                           #ssn="ngModel" minlength="9" maxlength="9" required>
                    <div *ngIf="ssn.errors && (ssn.dirty || ssn.touched)"
                         class="tmo-error">
                      <div [hidden]="!ssn.errors.required">
                        SSN required.
                      </div>
                      <div [hidden]="!ssn.errors.minlength">
                        SSN minimum chars are 9.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="dob" data-toggle="tooltip" [(ngModel)]="creditInfo.dob" class="form-control alt" type="text"
                           placeholder="Date of Birth:*" #dob="ngModel" required>
                    <div *ngIf="dob.errors && (dob.dirty || dob.touched)"
                         class="tmo-error">
                      <div [hidden]="!dob.errors.required">
                        Date of Birth required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="checkbox checkbox-danger pull-left">
                    <input id="accept" type="checkbox" name="accept" [(ngModel)]="isAgreed" title="Please accept" data-toggle="tooltip" required>
                    <label style="font-size: small" for="accept">By checking this box, I agree that T-Mobile, or others acting on its behalf, may call or text me at the number provided above in order to complete this order, and that they may use an autodialer to do so. I understand that my agreement is not a condition of purchasing any goods or services.</label>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-12">
                    <button class="btn btn-theme" data-toggle="modal" [disabled]="customerInfoForm.form.invalid" >Place Order</button>
                  </div>
                  <div class="col-md-5"></div>
                </div>








              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

