<tmo-header></tmo-header>
<div class="wizard">
  <a class="current"><span class="badge badge-inverse" >1</span>Personal Information</a>
  <span class="badge" >2</span>Shipping & Billing Address
  <span class="badge" >3</span>Credit Information
</div>

<div class="wrapper" >
  <div class="content-area">
    <section class="page-section with-sidebar sub-page">
      <div class="container">
        <div class="row">
          <div class="col-md-9 content field-container" id="content" >
            <h3 class="block-title alt">Personal Information</h3>
            <!--Start of form -->
            <form class="form-delivery" #personalInfoForm="ngForm" novalidate>
              <div class="row profile-alert-min">
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="firstName" name="firstName" [(ngModel)]="personalInfo.firstName" required #firstName="ngModel"
                           type="text" class="form-control" placeholder="First Name:*" minlength="1">
                    <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
                         class="tmo-error">
                      <div [hidden]="!firstName.errors.required">
                        First Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="lastName" type="text" class="form-control"  placeholder="Last Name:*" required
                           [(ngModel)]="personalInfo.lastName" #lastName="ngModel" minlength="1">
                    <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
                         class="tmo-error">
                      <div [hidden]="!lastName.errors.required">
                        Last Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="email" type="email" class="form-control alt" placeholder="Email Address:*"
                           required [(ngModel)]="personalInfo.email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <div *ngIf="email.errors && (email.dirty || email.touched)"
                         class="tmo-error">
                      <div [hidden]="!email.errors.required">
                        Email Id is required.
                      </div>
                      <div [hidden]="email.errors.valid">
                        Not a valid email!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="confirmEmail" type="email" class="form-control alt" required [(ngModel)]="personalInfo.confirmEmail"
                           #confirmEmail="ngModel" placeholder="Confirm Email Address:*" validateEqual="email"
                           pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <ul>
                      <li [hidden]="confirmEmail.pristine || confirmEmail.valid" class="tmo-error">Emails have to match!</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="phoneNumber" [(ngModel)]="personalInfo.phoneNumber" class="form-control alt"
                           type="text" placeholder="Enter Phone Number" minlength="10" maxlength="10"
                            #phoneNumber="ngModel">

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select id="selectedCarrier" name="selectedCarrier"  class="form-control alt selectpicker" [(ngModel)]="personalInfo.selectedCarrier"
                            #selectedCarrier="ngModel" data-width="100%" title="Select" required>
                      <option value="">--Select Carrier*--</option>
                      <option *ngFor="let carrier of personalInfo.carriers" [ngValue]="carrier" >{{carrier}}</option>
                    </select>
                    <div *ngIf="selectedCarrier.errors && (selectedCarrier.dirty || selectedCarrier.touched)"
                         class="tmo-error">
                      <div [hidden]="!selectedCarrier.errors.required">
                        Please select Carriers.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-theme" [disabled]="!personalInfoForm.form.valid"
                     (click)="savePersonalInfo()">Next</button>
                  <!--<a class="btn btn-theme" [routerLink]="['/checkout/billandship']">Next</a> savePersonalInfo(personalInfo)-->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
