<tmo-header></tmo-header>
<div class="wizard">
  <a href="#personalInformation"><span class="badge">1</span>Personal Information</a>
  <a  class="current" ><span class="badge badge-inverse">2</span>Shipping & Billing Address</a>
  <span class="badge" >3</span>Credit Information
</div>

<div class="wrapper">
  <div class="content-area">
    <section class="page-section with-sidebar sub-page">
      <div class="container">
        <div class="row">
          <div class="col-md-9 content field-container" id="content" >
            <!--Start of form -->
            <form class="form-delivery" name="shippingInfoForm" novalidate #shippingInfoForm="ngForm">
              <div class="row profile-alert-min">
                <h3 class="block-title alt">Shipping Address</h3>

                <div class="row profile-alert-min">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="shippingAddress1" name="shippingAddress1" [(ngModel)]="shippingInfo.shippingAddress1"
                             required #shippingAddress1="ngModel" type="text" class="form-control"
                             placeholder="Shipping Address Line1:*" minlength="1">
                      <div *ngIf="shippingAddress1.errors && (shippingAddress1.dirty || shippingAddress1.touched)"
                           class="tmo-error">
                        <div [hidden]="!shippingAddress1.errors.required">
                          Shipping Address 1 required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="shippingAddress2" name="shippingAddress2" [(ngModel)]="shippingInfo.shippingAddress2"
                             required #shippingAddress2="ngModel" type="text" class="form-control"
                             placeholder="Shipping Address Line2:*" minlength="1">
                      <div *ngIf="shippingAddress2.errors && (shippingAddress2.dirty || shippingAddress2.touched)"
                           class="tmo-error">
                        <div [hidden]="!shippingAddress2.errors.required">
                          Shipping Address 2 required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input id="shipCity" name="shipCity" [(ngModel)]="shippingInfo.shipCity"
                             required #shipCity="ngModel" type="text" class="form-control"
                             placeholder="City:*" minlength="1">
                      <div *ngIf="shipCity.errors && (shipCity.dirty || shipCity.touched)"
                           class="tmo-error">
                        <div [hidden]="!shipCity.errors.required">
                          Shipping City required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select id="shipState" name="shipState"  class="form-control alt selectpicker" [(ngModel)]="shippingInfo.shipState"
                              #shipState="ngModel" data-width="100%" title="Select" required>
                        <option value="">--Select State*--</option>
                        <option *ngFor="let state of stateList" [ngValue]="state" >{{state}}</option>
                      </select>
                      <div *ngIf="shipState.errors && (shipState.dirty || shipState.touched)"
                           class="tmo-error">
                        <div [hidden]="!shipState.errors.required">
                          Shipping State required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input name="shipZip" [(ngModel)]="shippingInfo.shipZip" title="" #shipZip="ngModel"
                             data-toggle="tooltip" class="form-control alt" type="text" placeholder="Zip:*" required>
                      <div *ngIf="shipZip.errors && (shipZip.dirty || shipZip.touched)"
                           class="tmo-error">
                        <div [hidden]="!shipZip.errors.required">Zip Code required.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkbox checkbox-danger pull-left">
                    <input id="acceptBilling" [(ngModel)]="shippingInfo.isSameAddress" type="checkbox" [checked]="shippingInfo.isSameAddress"
                           name="acceptBilling" title="Please accept" data-toggle="tooltip">
                    <label style="font-size: small" for="acceptBilling">Use same address for billing</label>
                  </div>
                </div>

                <!--Billing Address-->

                <div *ngIf="!shippingInfo.isSameAddress">
                  <h3 >Billing Address</h3>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="billingAddress1" name="billingAddress1" [(ngModel)]="shippingInfo.billingAddress1"
                             required #billingAddress1="ngModel" type="text" class="form-control"
                             placeholder="Billing Address Line1:*" minlength="1">
                      <div *ngIf="billingAddress1.errors && (billingAddress1.dirty || billingAddress1.touched)"
                           class="tmo-error">
                        <div [hidden]="!billingAddress1.errors.required">
                          Billing Address 1 required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="billingAddress2" name="billingAddress2" [(ngModel)]="shippingInfo.billingAddress2"
                             required #billingAddress2="ngModel" type="text" class="form-control"
                             placeholder="Billing Address Line2:*" minlength="1">
                      <div *ngIf="billingAddress2.errors && (billingAddress2.dirty || billingAddress2.touched)"
                           class="tmo-error">
                        <div [hidden]="!billingAddress2.errors.required">
                          Billing Address 2 required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input id="billingCity" name="billingCity" [(ngModel)]="shippingInfo.billingCity" data-toggle="tooltip" class="form-control alt" type="text"
                             placeholder="City:*" required minlength="1" #billingCity="ngModel">
                      <div *ngIf="billingCity.errors && (billingCity.dirty || billingCity.touched)"
                           class="tmo-error">
                        <div [hidden]="!billingCity.errors.required">
                          Billing City required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select id="billingState" name="billingState"  class="form-control alt selectpicker" [(ngModel)]="shippingInfo.billingState"
                              #billingState="ngModel" data-width="100%" title="Select" required>
                        <option value="">--Select State*--</option>
                        <option *ngFor="let state of stateList" [ngValue]="state" >{{state}}</option>
                      </select>
                      <div *ngIf="billingState.errors && (billingState.dirty || billingState.touched)"
                           class="tmo-error">
                        <div [hidden]="!billingState.errors.required">
                          Billing State required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input name="billingZip" [(ngModel)]="shippingInfo.billingZip" title="" #billingZip="ngModel"
                             data-toggle="tooltip" class="form-control alt" type="text" placeholder="Zip:*" required>
                      <div *ngIf="billingZip.errors && (billingZip.dirty || billingZip.touched)"
                           class="tmo-error">
                        <div [hidden]="!billingZip.errors.required">Zip Code required.</div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--  Credit Info-->
                <div class="col-md-12">
                  <h3 class="block-title alt">Card Information</h3>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="cardName" name="cardName" [(ngModel)]="shippingInfo.cardName" data-toggle="tooltip" class="form-control alt"
                           type="text" placeholder="Name on Card:*" #cardName="ngModel" required>
                    <div *ngIf="cardName.errors && (cardName.dirty || cardName.touched)"
                         class="tmo-error">
                      <div [hidden]="!cardName.errors.required">Customer name required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" id="cardNumber" placeholder="Card Number:*" name="cardNumber" class="form-control alt"
                           [(ngModel)]="shippingInfo.cardNumber" #cardNumber="ngModel" minlength="15" required>
                    <div *ngIf="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)"
                         class="tmo-error">
                      <div [hidden]="!cardNumber.errors.required">Credit card number required</div>
                      <div [hidden]="!cardNumber.errors.minlength">Credit card number must be 15-19 digits</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row" cc-exp>
                    <div class="col-xs-4">
                      <input id="cardMonth" placeholder="MM*" type="text" class="form-control alt" name="cardMonth"
                             [(ngModel)]="shippingInfo.cardMonth" #cardMonth="ngModel" required minlength="2" maxlength="2">
                    </div>

                    <div class="col-xs-4">
                      <input id="cardYear" placeholder="YY*" type="text" class="form-control alt" minlength="2" maxlength="2"
                             name="cardYear" [(ngModel)]="shippingInfo.cardYear" #cardYear="ngModel" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input id="cardCvv" name="cardCvv" [(ngModel)]="shippingInfo.cardCvv" data-toggle="tooltip" class="form-control alt"
                           type="text" placeholder="CVV:*" #cardCvv="ngModel" required minlength="3" maxlength="4">
                    <div *ngIf="cardCvv.errors && (cardCvv.dirty || cardCvv.touched)"
                         class="tmo-error">
                      <div [hidden]="!cardCvv.errors.required">Security code required</div>
                      <div [hidden]="!cardCvv.minlength">Security code must be 3-4 digits</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <select id="creditRating" name="creditRating"  class="form-control alt selectpicker" [(ngModel)]="shippingInfo.creditRating"
                          #creditRating="ngModel" data-width="100%" title="Select" required>
                    <option value="">--Select CreditRating*--</option>
                    <option *ngFor="let rating of creditTypesList" [ngValue]="rating" >{{rating}}</option>
                  </select>
                  <div *ngIf="creditRating.errors && (creditRating.dirty || creditRating.touched)"
                       class="tmo-error">
                    <div [hidden]="!creditRating.errors.required">
                      Please select CreditRating.
                    </div>
                  </div>
                </div>


                <div class="col-md-12">
                  <!--<a class="btn btn-theme" data-toggle="modal" data-target="#bookModal" ng-disabled="shippingInfoForm.$invalid"
                     (cl)="saveBillShipInfo(shippingInfo)">Next</a>-->
                  <button class="btn btn-theme" (click)="saveBillShipInfo()" [disabled]="!shippingInfoForm.form.valid">Next</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>

